@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');
.service-page-fee-container{
  min-width: 1200px;
  background: #F3F9FF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px 120px;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 160px;

  .service-fee-detail-container{
    width: 300px;
    height: 240px;
    background: white;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 16px;
    cursor: pointer;
    &:hover{
      background:#E6367E;
      color: white;
      .title,.duration-detail{
        color: white;
      }
    }
    .title{
      font-size: 22px;
      color: #181949;
    }
    .duration-detail {
      font-size: 12px;
      color: #374754;
    }
    .price-container{
      margin-top: 80px;
      display: flex;
      align-items: center;
      .price-number{
        font-size: 50px;
        margin-right: 16px;
      }
      .price-curency{
        font-size: 22px;
        display: flex;
        flex-direction: column;
      
      }
      .frequency{
        font-size: 10px;
      }
    }
  }
}